.filter {
  width: 180px;
}

.bg_filter {
  background-color: #fcdbdb;
  height: 90px;
}

.flexstart {
  display: flex;
  justify-content: flex-start;
}

.flexend {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
  .filter {
    width: 100px;
  }
}