.avatar {
  border: 1px solid black;
}

.avatarImg {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.coffee_card{
  box-shadow: 0, 0, 0, 0;
  background-color: #ffefef;
}

.card_top {
}

.card_bottom {
  z-index: 0;
}