.navbar {
  overflow-x: hidden;
  width: 100vw;
  background-color: #FFE400;
}

@media screen and (max-width: 900px) {
  .logoBig {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .logoSmall {
    display: none;
  }
}
  